node_modules/
.git/
.idea/
.vscode/
*.md
!README.md
target/
test/
.DS_Store
*.log
.env
.AndrowsBox/
.EasyOCR/
.anaconda/
.android/
.cache/
.cargo/
.chocolatey/
.claude/
.codex/
.conda/
.config/
.copilot/
.designer/
.e-iceblue/
.eclipse/
.gradle/
.leigod/
.matplotlib/
.oracle_jre_usage/
.p2/
.redhat/
.rustup/
.trae-cn/
.trae/
.wdm/
